<div class="w-96 m-2 p-3 bg-white shadow rounded-lg">
  <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-2">
    <div class="relative">
      <input formControlName="amount" type="number"
        class="px-3 py-2 pr-16 bg-white border shadow-sm border-slate-300 block w-full rounded-md focus:outline-none focus:border-sky-500 focus:ring-sky-500 placeholder-slate-400"
        placeholder="0.00">
      <button type="button" (click)="change()"
        class="absolute right-0 top-0 bg-transparent px-5 py-2 text-sm opacity-50 hover:opacity-100">
        <svg xmlns="http: //www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M17 2.1l4 4-4 4" />
          <path d="M3 12.2v-2a4 4 0 0 1 4-4h12.8M7 21.9l-4-4 4-4" />
          <path d="M21 11.8v2a4 4 0 0 1-4 4H4.2" />
        </svg>
      </button>
    </div>
    <select formControlName="from"
      class="px-3 py-2 bg-white border shadow-sm border-slate-300 block w-full rounded-md focus:outline-none focus:border-sky-500 focus:ring-sky-500 placeholder-slate-400">
      <option hidden disabled [ngValue]="null" translate>Select a currency</option>
      <option *ngFor="let item of currencies | keyvalue" [ngValue]="item.key">({{item.key}}) {{item.value}}</option>
    </select>
    <select formControlName="to"
      class="px-3 py-2 bg-white border shadow-sm border-slate-300 block w-full rounded-md focus:outline-none focus:border-sky-500 focus:ring-sky-500 placeholder-slate-400">
      <option hidden disabled [ngValue]="null" translate>Select a currency</option>
      <option *ngFor="let item of currencies | keyvalue" [ngValue]="item.key">({{item.key}}) {{item.value}}</option>
    </select>
    <button type="submit" [disabled]="form.invalid || loading"
      class="inline-flex items-center justify-center bg-blue-500 hover:bg-blue-700 px-5 py-2.5 text-sm leading-5 rounded-md font-semibold text-white">
      <ng-container *ngIf="!loading; else showLoading">Convert</ng-container>
      <ng-template #showLoading>
        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
          </path>
        </svg>
        Loading...
      </ng-template>
    </button>
  </form>
  <div *ngIf="result" class="py-2 text-center text-blue-500 text-lg font-semibold">{{result}}</div>
</div>